{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}
{{block head}}
<script type="text/javascript">
    function notify(message, duration) {
    	$('.flash').html(message).stop(true, true).show().fadeOut(duration);
    }
    
    function add_to_hotkeys(hotkeys, $sp) {
        if ('code' in $sp.data()) hotkeys[$sp.attr('name')] = $sp.data();
        else hotkeys[$sp.attr('name')] = {code:0, ctrl: false, alt: false, shift : false};
    }
    
    function save($sp) {
        var hotkeys = {}
        add_to_hotkeys(hotkeys, $sp);
        $.ajax({url : '{{=URL('save')}}', type: "POST", data : {'hotkeys' :JSON.stringify(hotkeys)}})
        	.done(function() { notify('Hotkey Saved',800);})
            .fail(function() { notify('Error Saving Hotkey',3000);});
    }
    
    function sync($sp) {
        if ('code' in $sp.data()) {
            $sp.html(KeyCode.hot_key($sp.data()));
            $sp.removeClass("hk-pending hk-unassign").addClass("hk-assign");
        }
        else {
            $sp.html('Unassigned');
            $sp.removeClass("hk-pending hk-assign").addClass("hk-unassign");
        }
    }
    
    function unset_pending() {
        sync($(document).data('sp'));
        $(document).removeData('sp');
        $(document).off('mousedown keydown mousewheel contextmenu');
        $('#extras').hide();
    }
    
    function set_pending($sp) {
        if ('sp' in $(document).data()) {
            unset_pending();
        }
        $sp.html('Waiting for input...');
        $sp.removeClass("hk-unassign hk-assign").addClass("hk-pending");
        $(document).data('sp', $sp);
        $(document).mousedown(event_handler);
        $(document).keydown(event_handler);
        $(document).mousewheel(mousewheel_handler);
        $(document).contextmenu(function(){return false;});
        $('#extras').show();
    }
    
    function assign_key(k) {
    	var $sp = $(document).data('sp');
    	$sp.data(k);
    	sync($sp);
    	save($sp);
    	unset_pending();
    }

    function unassign_key() {
    	var $sp = $(document).data('sp');
    	$sp.removeData();
    	sync($sp);
    	save($sp);
    	unset_pending();
    }
    
    function mousewheel_handler(e, delta) {
        //TODO: handle modifier keys
        e.which = (delta < 0) ? 254 : 255;
    	event_handler(e);
    }

    function extra_buttons(e) {
    	e.which = parseInt($(this).attr('name'));
    	event_handler(e);
    }

    function event_handler(e) {
        e.stopPropagation();
        e.preventDefault();

        if (e.which == 1 || e.which == 3) {
            if ($(this).is('.hk-click')) {
            	set_pending($(this));
            }
            else {
            	unset_pending();
            }
        }
        else {
            //this is because of keydown or middle mouse
            key = KeyCode.translate_event(e);
            var s = KeyCode.SHIFT;
            if (key.code ==KeyCode.Shift || key.code ==KeyCode.Ctrl || key.code ==KeyCode.Alt) {
                //fallthrough
            } else if (key.code == KeyCode.Escape || key.code == 0) {
                unassign_key();
            }
            else {
                assign_key(key);
            }
        }
        return false;
    }
    
    function serialize_hotkeys() {
        var hotkeys = {}
        $('.hk-click').each(function() {
        	add_to_hotkeys(hotkeys, $(this));
        });
        $('#hotkeys').val(JSON.stringify(hotkeys));
    }
    
    function deserialize_hotkeys(data) {
    	data = JSON.parse(data);
    	$('.hk').each(function() {
        	$this = $(this);
            if ($this.attr('name') in data) {
            	var k = data[$this.attr('name')];
            	if (k['code'] != 0) $this.data(k);
            	$this.addClass('hk-click');
            	sync($this);
            }
        });
    }
    
    function load_hotkeys() {
        $('#generate-file').attr('disabled','disabled');
        $('.hk').removeClass('hk-click hk-pending hk-unassign hk-assign').off('mousedown').html('Disabled');
        $.ajax('{{=URL('recall')}}')
        	.done(function(data) { deserialize_hotkeys(data); $('#generate-file').removeAttr('disabled');})
            .fail(function() { alert("There was an error loading the hotkey file into the editor"); })
            .always(function() { $('.hk-click').mousedown(event_handler); });
    	
    }
    
    function change_version(v) {
        $.ajax({url : '{{=URL('version')}}', type: "POST", data : {'version' : v}})
                .done(function() { notify('Version Changed',800); load_hotkeys();})
                .fail(function() { notify('Error Changing Version',3000);});
    }
    
    $(document).ready(function() {
        $('#assignments').masonry();
        $('#extras').hide();
        $('.extras').mousedown(extra_buttons);
        load_hotkeys();
    });
</script>
<style>
    .hk-desc {
        font-weight:bold;
        float:left;
        margin-right:-300px;
    }
    .hk {
        min-width:100px;
        background: #cccccc;
        border: 1px solid #666666;
        border-radius: 10px;
        float:right;
        text-align: center;
        padding: 1px 4px;
    }
    .hk-click {
        cursor: pointer;
    }
    .hk-pending {
        background: #ffffe0;
        border-color: #ffff00;
        font-style: italic;
    }
    .hk-unassign {
        background: #e0e0ff;
        border-color: #0000ff;
    }
    .hk-assign {
        background: #e0ffe0;
        border-color: #00ff00;
    }
    .hk-wrap {
        padding: 2px;
        margin: 2px;
        border: 1px solid #808080;
        border-radius: 4px;
        background: #f0f0f0;
    }
    .hk-desc {
        color: #333333;
    }
    .hk-group {
        width:400px;
        float:left;
        margin: 0px 5px 12px;
        padding: 0;
        border: 2px solid #a0a0a0;
    }
    .hk-group-desc {
        padding: 2px;
        background: #e5e5e5;
    }
    .hk-group-hk {
        padding: 2px;
        border-top: 2px dotted #a0a0a0;
    }
    #functions {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        background: #ffffff;
        z-index:100;
        border-bottom: 2px solid #000000;
    }
    #functions>div {
        margin: 50px 20px 5px;
        width: 400px;
        float:left;
    }
    #assignments {
        margin: 180px 0px 0px;
    }
    h5 {
        font-variant:small-caps;
        padding: 0;
        padding-bottom: 3px;
        margin: 0;
    }
</style>
{{end}}
<div id="functions">
    <div id="download-div" style="" >
        Change hotkeys by clicking on the key binding, then simply entering the desired key combo for the respective hotkey.<br />
        Version:
        <select id="versions" onchange="change_version($(this).val());">
            {{for v, header, size, desc in hk_versions:}}
            <option value="{{=v}}" {{= 'selected' if v == version else ''}}>{{=desc}}</option>
            {{pass}}
        </select>
    <form action="{{=URL('default', 'player1.hki')}}" method="post">
        <input type="hidden" id="hotkeys" name="hotkeys" />
        <input id="generate-file" type="submit" onclick="serialize_hotkeys();" value="Generate .hki File" />
    </form>
    </div>
    <div id="extras" style="float:left">
        <div>Type &lt;Esc&gt; to unassign the given hotkey.  Use the buttons below for the &lt;Back&gt; and &lt;Forward&gt; buttons on the mouse.  The mousewheel works also, with modifier keys.</div>
        <input class="extras" type="button" value="Extra Button 1" name="252"/>
        <input class="extras" type="button" value="Extra Button 2" name="251"/>
    </div>
</div>
<div id="assignments">
{{for group, hks in hk_desc:}}
    <div class="hk-group">
        <div class="hk-group-desc"><h5>{{=group}}</h5></div>
        <div class="hk-group-hk">
        	{{for hk, desc in hks:}}
            <div class="hk-wrap" >
                <div class="hk-desc">{{=desc}}: </div>
                <div id="{{=hk}}-div" class="hk" name="{{=hk}}">Disabled</div>
                <div style="clear: both"></div>
            </div>
        	{{pass}}
        </div>
        <div style="clear: both; height: 0px"></div>
    </div>
{{pass}}
</div>
