{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

<script type="text/javascript">
    function sync($sp) {
        if ('code' in $sp.data()) {
            $sp.html(KeyCode.hot_key($sp.data()));
        }
        else {
            $sp.html('Unassigned');
        }
    }
    
    function unset_pending() {
        sync($(document).data('sp'));
        $(document).removeData('sp');
        $(document).off('mousedown keydown mousewheel');
        $('#extras').hide();
    }
    
    function set_pending($sp) {
        if ('sp' in $(document).data()) {
            unset_pending();
        }
        $sp.html('Waiting for input...');
        $(document).data('sp', $sp);
        $(document).mousedown(event_handler);
        $(document).keydown(event_handler);
        $(document).mousewheel(mousewheel_handler);
        $('#extras').show();
    }
    
    function assign_key(k) {
    	var $sp = $(document).data('sp');
    	$sp.data(k);
    	sync($sp);
    	unset_pending();
    }

    function unassign_key() {
    	var $sp = $(document).data('sp');
    	$sp.removeData();
    	sync($sp);
    	unset_pending();
    }
    
/*
stuff we need special handling for:
-num minus and num plus
*/
    function mousewheel_handler(e, delta) {
        //TODO: handle modifier keys
        e.which = (delta < 0) ? 255 : 254;
    	event_handler(e);
    }

    function extra_buttons(e) {
    	e.which = parseInt($(this).attr('name'));
    	event_handler(e);
    }

    function event_handler(e) {
        e.stopPropagation();
        e.preventDefault();
        
        //if ($(e.target).is('#document')) alert('blah'); //doesn't work


        if (e.which == 1 || e.which == 3) {
            if ($(this).is('.hk-click')) {
            	set_pending($(this));
            }
            else {
            	unset_pending();
            }
        }
        else {
            //this is because of keydown or middle mouse
            key = KeyCode.translate_event(e);
            //console.log(key);
            var s = KeyCode.SHIFT;
            if (key.code ==KeyCode.Shift || key.code ==KeyCode.Ctrl || key.code ==KeyCode.Alt) {
                //fallthrough
            } else if (key.code == KeyCode.Escape) {
                unassign_key();
            }
            else {
                assign_key(key);
            }
        }
        return false;
    }
    
    function serialize_hotkeys() {
        var hotkeys = {}
        $('.hk-click').each(function() {
        	if ('code' in $(this).data()) hotkeys[$(this).attr('name')] = $(this).data();
            else hotkeys[$(this).attr('name')] = {'code':0, 'ctrl': false, 'alt': false, 'shift' : false};
        });
        $('#hotkeys').val(JSON.stringify(hotkeys));
    }
    
    $(document).ready(function() {
        $('#extras').hide();
        $('.extras').mousedown(extra_buttons);
        $('.hk-click').mousedown(event_handler);
    });
</script>
    <div id="#assignments" style="width:400px; height:400px; overflow-y:scroll; float:left; padding: 0px 20px">
{{for hk, desc in hk_desc:}}
    <div><span style="font-weight:bold; float:left">{{=desc}}: </span>
    <!--<input id="{{=hk}}-input" type="hidden" name="{{=hk}}" />-->
        <span id="{{=hk}}-span" class="hk-click" name="{{=hk}}" style="float:right">Unassigned</span>
        <div style="clear: both"></div></div>
{{pass}}
</div>
<div id="extras">
    <input class="extras" type="button" value="Extra Button 1" name="252"/>
    <input class="extras" type="button" value="Extra Button 2" name="251"/>
</div>
<div style="clear: both"></div>
<form action="{{=URL('default', 'player1.hki')}}" method="post" oncontextmenu="return false;">
<!--<form action="{{=URL('default', 'player1.html')}}" method="post" oncontextmenu="return false;">-->
    <input type="hidden" id="hotkeys" name="hotkeys" />
	<input type="submit" onclick="serialize_hotkeys();" value="Download hotkey file" />
</form>
