{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}
{{block head}}
<style>
    #welcome {
        width: 600px;
        margin: 100px auto 0px;
    }
</style>
{{end}}
<div id="welcome">
    <p>Welcome to the web-based Age of Empires II (AoK) hotkey editor! This website assumes you have played AoK, and if not, go <a href="http://www.ageofempires.com/age2.html">check out the HD version</a> right now!</p>
    <h4>Why?</h4>
    <p>AoK has always had a hotkey editor, so why create another? The in-game editor may be convenient, but it has several shortcomings. For example, the in-game editor has no option to allow conflicts. In some cases what the game considers conflicts effectively never conflict (e.g. the "Pack" and "Build" hotkeys, used exclusively by trebuchets and villagers respectively). In other cases using conflicting hotkeys can be useful as long as the player understands the behavior (if you use "B" for both building and selecting a barracks, the only time they conflict is in the villager build menu, where the build command is always favored).  Allowing conflicts has been a feature available in later Age games, so backporting it to AoK would only be natural. Additionally, this editor can bind keys that are not accessible in the in-game editor, like the Caps Lock key.</p>
    <h4>How?</h4>
    <p>AoK stores your hotkeys in a file called <span style="font-weight:bold">player1.hki</span> underneath the <span style="font-weight:bold">savegame\</span> directory in the root game directory. Generally (for the HD version) the full path is:</p>
    <div style="font-weight:bold">C:\Program&nbsp;Files&nbsp;(x86)\Steam\SteamApps\common\Age2HD\savegame\player1.hki</div>
    <p>The file is stored in a compressed binary format, which makes it painful to edit directly.  This editor provides a way to upload your current hotkey file, edit the hotkeys with a user-friendly interface, then download the edited file.  Move the downloaded file to the above location and start AoK to use your new hotkeys.</p>
    <p>If you've used the editor before, you can <a href="{{=URL('editor')}}">pick up where you left off</a> (requires session cookie). Or get started by using the <a href="{{=URL('setfile', args='default')}}">default key bindings</a>, leaving <a href="{{=URL('setfile', args='none')}}">every hotkey unbound</a>, or uploading your current hotkeys directly to the editor:</p>
    <form action="">
    </form>
    <form action="{{=URL('setfile', args='upload')}}" method="post" enctype="multipart/form-data">
        <div><input type="file" name="hki" /></div>
        <div><input type="submit" value="Edit File" /></div>
    </form>
    
</div>
