<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
    <title>{{= response.title}}</title>
  <!--[if !HTML5]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
	   
  <meta charset="utf-8" />

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="AoK Hotkey Editor" />

  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

  <!-- include stylesheets -->
  {{  
  response.files.append(URL('static','css/web2py.css'))
  response.files.append(URL('static','css/bootstrap.min.css'))
  #response.files.append(URL('static','css/bootstrap-responsive.min.css'))
  response.files.append(URL('static','css/web2py_bootstrap.css'))
  response.files.append(URL('static','js/keycode.js'))
  response.files.append(URL('static','js/mousewheel.js'))
  response.files.append(URL('static','js/json2.js'))
  response.files.append(URL('static','js/masonry.min.js'))
  response.files.insert(0,URL('static','js/jquery.js'))
#response.files.insert(1,URL('static','css/calendar.css'))
#response.files.insert(2,URL('static','js/calendar.js'))
#response.files.insert(3,URL('static','js/web2py.js'))
response.include_meta()
response.include_files()
  }}
  <style>
      .navbar {
          height: 45px;
      }
      .container {
          width: 100%;
      }
      #noscript-overlay{
          opacity:0.9;
          background-color:#666666;
          position:fixed;
          width:100%;
          height:100%;
          top:0px;
          left:0px;
          z-index:10000;
          color: #ffffff;
          text-align: center;
      }
      #noscript-overlay span {
          height: 50px;
          width: 200px;
          position:absolute;
          top:50%;
          margin-left: -100px;
      }
      h1, h2, h3, h4, h5 {
          font-family: Georgia, serif;
      }
  </style>

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  #middle_columns = {0:'span12',1:'span9',2:'span6'}[
  #  (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  middle_columns = ''
  }}

  <!-- uncomment here to load jquery-ui
       <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />
       <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
       uncomment to load jquery-ui //-->
  <!--<noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>-->
  <script type="text/javascript">
      $(document).ready(function () {
    	$('#noscript-overlay').remove();
      });
  </script>
  {{block head}}{{end}}
</head>

<body>
  <div id="noscript-overlay">
  	<span>This website requires JavaScript to operate correctly.</span>
  </div>
  <!-- Navbar ================================================== -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="flash">{{=response.flash or ''}}</div>
    <div class="navbar-inner" style="padding-left: 10px;">
        {{if response.title:}}
        <a href="{{=URL('index')}}"><h3 style="margin: 0; padding-right: 10px; float:left; color: #cccccc; border-right: 1px solid #666666;">
                {{=response.title}}
                <small>{{=response.subtitle or ''}}</small>
        </h3>
        </a>
        {{pass}}
        <div id="poweredBy" class="pull-right" style="color: #999999">
            {{=T('Powered by')}}
            <a href="http://www.web2py.com/">web2py</a>
        </div>
      <div>
        <ul id="navbar" class="nav pull-right">{{='auth' in globals() and auth.navbar(mode="dropdown") or ''}}</ul>
        <div class="nav-collapse">
          {{is_mobile=request.user_agent().is_mobile}}
          {{if response.menu:}}
          {{=MENU(response.menu, _class='mobile-menu nav' if is_mobile else 'nav',mobile=is_mobile,li_class='dropdown',ul_class='dropdown-menu')}}
          {{pass}}
        </div>
      </div>
    </div>
  </div><!--/top navbar -->

  <div class="container">
    {{if False:}}
    <!-- Masthead ================================================== -->
    <header class="mastheader row" id="header">
        <div class="span12">
            <div class="page-header">
                <h2>
                    {{=response.title}}
                    <small>{{=response.subtitle or ''}}</small>
                </h2>
            </div>
        </div>
    </header>
    {{pass}}

    <section id="main" class="main">
        {{if left_sidebar_enabled:}}
        <div class="span3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
        {{pass}}

        <div>
            {{block center}}
            {{include}}
            {{end}}
        </div>

        {{if right_sidebar_enabled:}}
        <div class="span3">
            {{block right_sidebar}}
            <h3>Right Sidebar</h3>
            <p></p>
            {{end}}
        </div>
        {{pass}}
    </section><!--/main-->

  </div> <!-- /container -->

  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <!--<script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script> -->
  <!--[if lt IE 7 ]>
      <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
      <![endif]-->
  
  {{if response.google_analytics_id:}}
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40663883-1']);
  _gaq.push(['_setDomainName', 'aokhotkeys.appspot.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  {{pass}}
</body>
</html>
